In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Error loading punkt: <urlopen error [WinError 10054] An
[nltk_data]     existing connection was forcibly closed by the remote
[nltk_data]     host>
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [WinError 10054] An existing connection was forcibly
[nltk_data]     closed by the remote host>

False

In [3]:
path = r"C:\Users\arulk\OneDrive\Desktop\App-A-thon\Reviews.csv"
data = pd.read_csv(path)

In [4]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [4]:
data['Score'].value_counts().sort_index()

Score
1     52268
2     29769
3     42640
4     80655
5    363122
Name: count, dtype: int64

In [7]:
data['HelpfulnessNumerator'].value_counts().sort_index()

HelpfulnessNumerator
0      303826
1      116467
2       53727
3       29007
4       16963
        ...
559        10
580         1
808         1
844         1
866         1
Name: count, Length: 231, dtype: int64

In [10]:
data.shape

(568454, 10)

In [40]:
tok_ex = data['Text'][50]
tok_ex
#tok = tok_ex.word_tokenize(example)
#nltk.download('word_tokenize')
tok = nltk.word_tokenize(tok_ex)
tok

['This',
 'oatmeal',
 'is',
 'not',
 'good',
 '.',
 'Its',
 'mushy',
 ',',
 'soft',
 ',',
 'I',
 'do',
 "n't",
 'like',
 'it',
 '.',
 'Quaker',
 'Oats',
 'is',
 'the',
 'way',
 'to',
 'go',
 '.']

In [12]:
nltk.pos_tag(tok)
#https://www.guru99.com/pos-tagging-chunking-nltk.html

[('This', 'DT'),
 ('oatmeal', 'NN'),
 ('is', 'VBZ'),
 ('not', 'RB'),
 ('good', 'JJ'),
 ('.', '.'),
 ('Its', 'PRP$'),
 ('mushy', 'NN'),
 (',', ','),
 ('soft', 'JJ'),
 (',', ','),
 ('I', 'PRP'),
 ('do', 'VBP'),
 ("n't", 'RB'),
 ('like', 'VB'),
 ('it', 'PRP'),
 ('.', '.'),
 ('Quaker', 'NNP'),
 ('Oats', 'NNPS'),
 ('is', 'VBZ'),
 ('the', 'DT'),
 ('way', 'NN'),
 ('to', 'TO'),
 ('go', 'VB'),
 ('.', '.')]

In [5]:
from nltk.sentiment import SentimentIntensityAnalyzer
from  tqdm.notebook import tqdm

In [6]:
sia = SentimentIntensityAnalyzer()

In [17]:
str = 'I AM SO SAD'
sia.polarity_scores(str)

{'neg': 0.629, 'neu': 0.371, 'pos': 0.0, 'compound': -0.5256}

In [7]:

res = {}
for i, row in tqdm(data.iterrows(), total = len(data)):
    
  text = row['Text']
  myid = row['Id']
  res[myid] = sia.polarity_scores(text)

  0%|          | 0/568454 [00:00<?, ?it/s]

In [8]:
len(res)

568454

In [9]:
vaders = pd.DataFrame(res).T
#vaders.reset_index().rename(columns = {'index':'Id'})
#vaders = pd.merge(vaders,data, how = 'left')
#vaders.head(15)

In [10]:
vaders.head()

     neg    neu    pos  compound
1  0.000  0.695  0.305    0.9441
2  0.138  0.862  0.000   -0.5664
3  0.091  0.754  0.155    0.8265
4  0.000  1.000  0.000    0.0000
5  0.000  0.552  0.448    0.9468

In [13]:
df = {}
df = pd.DataFrame(df)

In [16]:
val = vaders['compound'].to_list()

In [17]:
df['Value'] = val

In [18]:
df['Review'] = data['Text']

In [22]:
df

         Value                                             Review
0       0.9441  I have bought several of the Vitality canned d...
1      -0.5664  Product arrived labeled as Jumbo Salted Peanut...
2       0.8265  This is a confection that has been around a fe...
3       0.0000  If you are looking for the secret ingredient i...
4       0.9468  Great taffy at a great price.  There was a wid...
...        ...                                                ...
568449  0.8589  Great for sesame chicken..this is a good if no...
568450 -0.4848  I'm disappointed with the flavor. The chocolat...
568451  0.4352  These stars are small, so you can give 10-15 o...
568452  0.9717  These are the BEST treats for training and rew...
568453  0.4754  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [96]:
len(sentiment_results)

568454

In [97]:
df['Sentiment'] = sentiment_results

In [98]:
df

         Value                                             Review Sentiment
0       0.9441  I have bought several of the Vitality canned d...  Positive
1      -0.5664  Product arrived labeled as Jumbo Salted Peanut...  Negative
2       0.8265  This is a confection that has been around a fe...  Positive
3       0.0000  If you are looking for the secret ingredient i...   Neutral
4       0.9468  Great taffy at a great price.  There was a wid...  Positive
...        ...                                                ...       ...
568449  0.8589  Great for sesame chicken..this is a good if no...  Positive
568450 -0.4848  I'm disappointed with the flavor. The chocolat...  Negative
568451  0.4352  These stars are small, so you can give 10-15 o...  Positive
568452  0.9717  These are the BEST treats for training and rew...  Positive
568453  0.4754  I am very satisfied ,product is as advertised,...  Positive

[568454 rows x 3 columns]

In [ ]:
df.to_csv('amazon_review_dataset.csv', index=False)